# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
Assets/StreamingAssets/build_info

# IDE
.vscode/
.idea/
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Others
.DS_Store
Thumbs.db